/*--------Menu template--------------*/
*{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

a{
	text-decoration: none;
	color: black;
}
ul{
	list-style-type: none;
}
body{
	text-align: center;
}

li{
	float: left;
}

header {
	position:fixed;
	left:0px;
	top:0px;
	width: 100%;
	background-color: #fff;
	padding-top: 10px;
}

.topbar{
	width: 1000px;
	margin: 10px auto;
}

#logo {
	height: 70px;
	float: left;
}

.top_username {
	float: right;
	padding: 10px;
	margin-top: 20px;
}

.top_username:hover {
	background-color: #e8e8e8;
}

.top_username:hover .dropdown {
	display: inherit;
}

#username_dropdown {
	width: 160px;
	z-index: 1000;
	margin-left: -9px;
	margin-top: 10px;
	border: 1px solid #c0c0c0;
}

#username_dropdown li{
	width: 160px;
	height: 40px;
	line-height: 40px;
}

#dropdown_icon {
	width: 10px;
	width: 10px;
}

.secondbar{
	width: 100%;
	height: 50px;
	line-height: 46px;
	float: left;
}

.top_menu {
	width: 1000px;
	margin: 0 auto;
	display: inline-block;
	position: relative;
}


.top_menu li{
	padding: 0 44px;
}

.top_menu li:hover {
	border-bottom: 4px solid black;
}

.menu_active {
	border-bottom: 4px solid black;
}

.dropdown{
	margin-top: 4px;
	display: none;
	position: absolute;
	border: 1px solid black;
	background: #fff;
}

#rental {
	left: 0;
	width: 155px;
}

#rental li {
	width: 155px;
	padding: 0;
}

#fileMaintenance {
	left: 289px;
	width: 202px;
}

#fileMaintenance li {
	width: 202px;
	padding: 0;
}

#accounts {
	left: 493px;
	width: 172px;
}

#accounts li {
	width: 172px;
	padding: 0;
}

#reports {
	left: 667px;
	width: 162px;
}

#reports li {
	width: 162px;
	padding: 0;
}

#blacklist {
	left: 831px;
	width: 165px;
}

#blacklist li {
	width: 165px;
	padding: 0;
}

.dropdown li {
	width: 174px;
	border-bottom: none;
}

.dropdown li:hover {
	background-color: #e8e8e8;
	border-bottom: none;
}

.top_menu li:hover .dropdown{
	display: inherit;
}



.dropdown_second_level{
	margin-top: 4px;
	display: none;
	position: absolute;
	border: 1px solid black;
	background: #fff;
	margin-left: 202px;
	top: -5px;
}

#company{
	top: 41px;
}

#category {
	top: 87px;
}

#model {
	top: 133px;
}

.dropdown li:hover .dropdown_second_level {
	display: inherit;
}

/*content ----- start*/
.content {
	float: left;
	width: 100%;
	background-color: #00f900;
	padding: 130px 0 130px 0;
	min-height: 700px;
}

.container {
	width: 1000px;
	margin: 0 auto;
}

.form {
	width: 500px;
	background-color: #fff;
	float: left;
	margin-top: 30px;
}

.form h1 {
	font-size: 30px;
}

.home_car {
	padding: 150px 0 0 15px;
	float: left;
}

#car {
	width: 460px;
  float: left;
}

.margin-top-100px {
	margin-top: 100px;
}

/*for change password page*/
#changePassword-form {
	margin: 150px 0 0 230px;
}

#changePassword-form form h1 {
	text-align: center;
	font-size: 36px;
}

.btn-group {
	float: right;
	margin-right: 75px;
}

#error-msg{
	color: red;
	/*margin-left: 70px;*/
	text-align: center;
}

/*amend / view company page*/
#fixed-btn {
	width: 350px;
}

#amendCompany-btn-group {
	margin-right: 80px;
}

.hidden {
	display: none;
}

#save {
	width: 170px;
}

#cancel {
	width: 170px;
}

/*company report page*/
.company-report {
	width: 100%;
	font-size: 13px;
}

.company-report table thead tr th {
	text-align: center;
}

/*footer ------ start*/
footer {
	position:fixed;
	left:0px;
	bottom:0px;
	height:50px;
	width:100%;
	background:#fff;
	line-height: 50px;
	/*border-top: 2px solid #ccc;*/
}

.copyright {
	font-size: 12px;
	font-weight: 700;
}