/*Page Title: vaidasCss.css
 Author: Vaidas Siupienius  
Date :02/16
Purpose:Style sheet for my screens  */

/* . Class*/
div.returnTable {
	
	/*--------scroll bar in the table only on right side no bar in the bottom --------------*/
	overflow-y: scroll;
	height: 150px;
}
#returnTableHeader,tr,td{
/*-------- setting borders on every row-column-------------*/
    border-collapse: collapse;
    border: 1px solid black;
	padding: 7px;
	}
/*-------    return table style        -------------*/
.returnTable{
	border: 2px solid #008CBA;
	border-top:none;
	
	/*make treturn table tosame size us headings*/
	box-sizing: border-box;
}
/*-------- setting columns in return table what all of them will be same width-------------*/
.tableColumn{
	width:150px;	
}
/*-------- every single heading column style required to get centered on top column-------------*/
.headerColumn1{
	width:130px;
	text-align:center;
}
.headerColumn2{
	width:130px;	
}
.headerColumn3{
	width:130px;	
}
.headerColumn4{
	width:130px;
}
.headerColumn5{
	width:130px;	
}
.headerColumn6{
	width:130px;
	padding-right:30px;
}
#blacklistForm{
	width:950px;
	margin: 30px 15px;
}
.textareaReturn{
	padding-top:30px;
	
	
}
/*-------- return screen textarea style-------------*/
#textArea{	
	color:red;
	 resize: none;
}
/*-------- showing message after process are done------------*/
#confirmationMessage{
	text-align:center;
	color:red;
	font:15px;
}
#returnForm{
	width:20px;
	margin-left:0px;
	
}
/* used for change*/
#accidentCheckBox{
	color:red;
}
/* used for changing color in return table if returns are late or cars have to be returned today*/
#tableRow{
		color:red;
}
/*fieldsets styles*/
#penaltiesFieldset{
	width:400px;
	height:410px;

	
}




