/*Page Title: vaidasCss.css
 Author: Vaidas Siupienius  
Date :02/16
Purpose:Style sheet for my screens  */

/* . Class*/
div.returnTable {
	
	/*--------scroll bar in the table only on right side no bar in the bottom --------------*/
	overflow-y: scroll;
	height: 150px;
	width:900px;

}


table,tr,td {
/*-------- setting borders on every row-column-------------*/
    border-collapse: collapse;
    border: 1px solid black;
	padding: 7px;

}
/*--------bordeer arround full return table -------------*/
.fullTable{
	border: 1px solid black;
	width:900px;
}

/*-------- setting columns in return table what all of them will be same width-------------*/
.tableColumn{
	width:140px;
	
}
.headerColumn{
	width:75px;
	text-align:left;
}

#returnTable{
	
	width:890px;
}

#blacklistForm{
	width:900px;
	margin: 30px 15px;

}
.textareaReturn{
	padding-top:20px;
	
	
}
/*-------- return screen textarea style-------------*/
#textArea{
	width:300px;
	color:red;
}
/*-------- showing message after process are done------------*/
#confirmationMessage{
	text-align:center;
	color:red;
	font:15px;
}
#returnForm{
	width:20px;
	margin-left:0px;
	
}
#accidentCheckBox{
	color:red;
}



