/*-------- Vaidas Siupienius --------------*/
div.table {

  border: 2px solid black;
/*--------scroll bar in the table only on right side no bar in the bottom --------------*/
overflow-y: scroll;
height: 250px;
margin:15px;



}


table,tr,td,th {
/*-------- setting borders on every row-column-------------*/
    border-collapse: collapse;
    border: 1px solid black;
padding: 7px;

}


/*-------- End Vaidas Siupienius --------------*/